body{
	margin:0px;
	font-size: 13px;
	font-family: Helvetica;
	}

#container{
	position: relative;
	width: 100%;
}

#banner{
	padding:10px 0px 10px 10px ;
	text-align: left;
	background-color: #A5F6FD;
	margin-bottom: 5px;
	font-family: Helvetica;
	font-size: 55px;
	color:white;
}

#content{
	float: left;
	background-color: white;
	padding-right: 200px;
	padding-left: 10px;
	font-family: Helvetica;
	font-size: 26px;
}

#links{
	float:right;
	width:200px;
	height:500px;
	text-align: center;
	background-color: #A5F6FD;
	margin-left: -200px;
}
