
<!DOCTYPE html>
<html>
<head>
	<link type="text/css" rel="stylesheet" href="../static/css/NATTO.css"/>
</head>

<body>
<div id="container">
	<div id="banner">
		<div class="fontstyle1">HEY THERE,I'M</div><div class="fontstyle2">MAO HUIFENG</div><div class="fontstyle3">A GUY WHO LIKES NATTO.</div>
	</div>
	
	<div id="content">
		<div class="block"><br/><br/><br/><br/>STUDY</div>
		<div class="block"><br/><br/><br/><br/>ART</div>
		<div class="block"><br/><br/><br/><br/>LIFE</div>
	</div>

	<div id="footer">2015 Mao Huifeng</div>
</div>
</body>
</html>
