
<!DOCTYPE html>
<html>
<head>
	<link type="text/css" rel="stylesheet" href="../static/css/NATTO.css"/>
</head>

<body>
<div id="container">
	<div id="banner">
		<div class="fontstyle1">HEY THERE,I'M</div><div class="fontstyle2">MAO HUIFENG</div><div class="fontstyle3">A GUY WHO LIKES NATTO.</div>
	</div>
	
	<div id="content">
		<a href="study.html"><div class="block"><br/><br/><br/>ABOUT ME</div></a>
		<a href="art.html"><div class="block"><br/><br/><br/>STUDY HARD</div></a>
		<a href="life.html"><div class="block"><br/><br/><br/>HAVE FUN</div></a>
	</div>

	<div id="footer">2015 Mao Huifeng</div>
</div>
</body>
</html>
