<!DOCTYPE html>
<html>
<head>
	<link type="text/css" rel="stylesheet" href="../static/css/NATTO.css"/>
</head>

<body>
<div id="container">
	<div id="banner">
		<div class="fontstyle1">HEY THERE,I'M</div><div class="fontstyle2">MAO HUIFENG</div><div class="fontstyle3">A GUY WHO LIKES NATTO.</div>
	</div>
	
	<div id="content">
		<div class="block">block 1</div>
	    <div class="block">block 2</div>
	    <div class="block">block 3</div>
		<div class="block">here is my github:<a href="https://github.com/josslynmao">https://github.com/josslynmao</a><br/>
		here is the assignment of cloud computing:<a href="task.html">assignment(2015.10.11.)</a>   <a href="task2.html">assignment(2015.10.16.)</a></div>
	    <div class="block">block 5</div>
	    <div class="block">block 6</div>
	</div>

	<div id="footer"></div>
</div>
</body>
</html>
