#container{
	display:flex;
	justify-content:center;
}

#content{
	display: flex;
	flex-direction:column;
	align-item:center;
	margin-top: 30px;
}

#footer{
	display:flex;
	padding:15px;
	color:#dddddd;
	text-align: center;
}

img{
	height:300px;
	width:300px;
}

a{
	text-decoration: none;
	color:#A2F6FE;
}

.button{
	font-family: Helvetica;
	font-size: 18px;
	text-align: center;
	margin:0px 70px 0px 70px;
	padding: 10px 0px 10px 0px;
	display: flex;
	justify-content:center;

	transition:width 3s,height 3s;
	-moz-transition:width 3s,height 3s,-moz-transform 3s; ;
	-webkit-transition:width 3s,height 3s,-webkit-transform 3s;;
	-o-transition:width 3s,height 3s,-o-transform 3s;;
}

div.button:hover{
	font-size: 18px;
	border: 2px solid #dddddd;
	border-radius: 15px;
}